description: Text Games Benchmark

environment:
  image: azureml/azureml_b48beba85ea5ab1bbaa48abeeab0bb21:latest
  username: modularpolicies
  registry: modularpolicies.azurecr.io
  setup:
    - export PATH="/home/aiscuser/.local/bin:$$PATH"
    - pip install -r requirements.txt
    - sudo apt-get update && sudo apt-get install -y netcat
    - llm logs path
    - llm install plugins/gcr_llama
    - cp -v config/extra-openai-models.yaml ~/.config/io.datasette.llm/
    - llm models
    - python -m vllm.entrypoints.openai.api_server --model microsoft/Phi-3-mini-128k-instruct --host 0.0.0.0 &
    - |
      # Wait for the vllm server to be up
      while ! nc -z localhost 8000; do
        sleep 1
      done
      echo "vllm server is up and running"
    - curl -X GET http://127.0.0.1:8000/v1/models
    - wandb login --host=https://microsoft-research.wandb.io

code:
  # local directory of the code. this will be uploaded to the server.
  # $CONFIG_DIR is expanded to the directory of this config file
  local_dir: $CONFIG_DIR/../

# list of jobs to run
jobs:
- name: Text Games Benchmark
  sku: G1
  identity: managed
  submit_args:
    env:
      _AZUREML_SINGULARITY_JOB_UAI: /subscriptions/693ffe34-785e-44cd-8fb7-81da25f4d3bd/resourcegroups/ModularPolicies/providers/Microsoft.ManagedIdentity/userAssignedIdentities/modularpoliciesmi
      WANDB_API_KEY: $$WANDB_API_KEY
  command:
  - python benchmark.py --games games/detective.z5 --agent agent_llm.py:LLMAgent --llm microsoft/Phi-3-mini-128k-instruct -vv --enable_wandb --context 100 --admissible_commands
  - pkill -f vllm
